* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "berlin";
    src: url(../fonts/BRLNSR.TTF)format("truetype");
}

@font-face {
    font-family: "dumbledore";
    src: url(../fonts/dum3thin.ttf)format("truetype");
}

body {
    background: url(../img/chalkboardbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
}

.hidden_info {
    display: none;
}

/*HEADINGS*/
h1 {
    font-family: Dumbledore;
    font-size: 2.8em;
    padding-bottom: 5%;
    color: #bc8d49;
    letter-spacing: .07em;
}

h2 {
    font-family: Berlin;
    letter-spacing: .07em;
    font-size: 1.3em;
    padding-bottom: 5%;
}

.menu_items h2, #hotel_info_about h2 {
    padding-bottom: 4%;
    margin-top: 5%;
}

footer h1 {
    font-size: 2em;
}


/*NAVIGATION*/
nav {
    font-family: Dumbledore;
    letter-spacing: .07em;
}


/* HEADER & LOGO */
header {
    width: 100%;
    clear: both;
    padding: 20% 0;
    text-align: center;
}

header img {
    width: 100%;
    max-width: 600px;
    margin: auto;
}


/* MAIN CONTENT */
#container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

#dining_extras {
    width: 100%;
    margin: 10% 0;
    background-color: #28282a;
}

#dining_extras div {
    width: 100%;
    padding: 5%;
    box-sizing: padding-box;
    color: #fff;
}

.price {
    font-style: italic;
    text-align: right;
    color: #8a3121;
    /*margin-top: 5px;*/
}

.disclaimer {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    padding-top: 8%;
}

.menu_items, #hotel_info_home, #hotel_info_about {
    width: 100%;
    margin: 10% auto;
    background-color: #28282a;
    padding: 10%;
    box-sizing: border-box;
    color: #fff;
}

#hotel_info_home p, #hotel_info_about p, #about_us p {
    margin-bottom: 7%;
}

.menu_items ul {
    list-style: none;
    width: 50%;
    float: left;
}

#hotel_info_about ul {
    list-style: none;
}

.hotel_img2 {
    display: none;
}

.center_ital {
    text-align: center;
    font-style: italic;
}

/*SLIDESHOWS*/
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 85%;
    z-index: 600;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}

.cycle-slideshow, .hotel_home_img, .hotel_about_img {
    width: 100%;
    margin-bottom: 10%;
}

.cycle-slideshow img {
    width: 100%;
    height: auto;
}

/* FOOTER */

footer {
    width: 100%;
    margin: auto;
    background-color: #000;
    color: #bc8d49;
}

#contact {
    width: 100%;
}

#contact div {
    width: 90%;
    padding: 5% 0 0;
    margin: 3% auto;
}

#footernav {
    clear: both;
    width: 100%;
    padding: 10px 0;
    font-family: Dumbledore;
    font-size: 1.5em;
    letter-spacing: .07em;
    text-align: center;
}

#footernav a:link, #footernav a:visited {
    text-decoration: none;
    color: #bc8d49;
    padding: .5%;
}

#footernav a:hover {
    text-decoration: underline;
    color: #bc8d49;
}

#footernav p {
    padding: .5%;
}


/*~~~~~~NEW SECTION~~~~~~~*/
@media screen and (min-width: 476px) {
    /*HEADINGS*/
    h2 {
        font-size: 1.5em;
    }

    /*MAIN CONTENT*/
    #hotel_info_home p, #hotel_info_about p, #about_us p {
        margin-bottom: 5%;
    }

    /*FOOTER*/
    #contact div {
        width: 70%;
        padding: 5% 0 2% 5%;
        box-sizing: padding-box;
    }
}/*END 476px MEDIA QUERY*/


/*~~~~~~NEW SECTION~~~~~~~*/
@media screen and (min-width: 585px) {
    /*HEADINGS
    .menu_items h2, #hotel_info_about h2 {
        padding-bottom: 2%;
        margin-top: 4%;
    }
}/*END 476px MEDIA QUERY*/


/*~~~~~~NEW SECTION~~~~~~~*/
@media screen and (min-width: 710px) {
    /*HEADINGS*/
    .menu_items h2, #hotel_info_about h2 {
        padding-bottom: 10px;
        margin-top: 0;
    }

    /*MAIN CONTENT*/
    #hotel_info_home p, #about_us p {
        margin-bottom: 3%;
    }

    #hotel_info_about p {
        margin-bottom: 0;
    }

    .price {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #drinks .price {
        margin-bottom: 0px;
    }

    .hotel_img2 {
        display: block;
        clear: both;
    }

    /*SLIDESHOWS*/
    .cycle-slideshow, .hotel_home_img {
        width: 40%;
        float: left;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    .hotel_about_img {
        width: 40%;
        float: left;
        margin-right: 5%;
        margin-bottom: 3%;
    }

    /*FOOTER*/
    #contact {
        margin: 10% 0;
    }

    #contact div {
        width: 50%;
        float: left;
        padding: 2%;
        margin: 5% 0 1%;
        box-sizing: border-box;
        clear: none;
    }

}/*END 710px MEDIA QUERY*/

/*~~~~~~NEW SECTION~~~~~~~*/
@media screen and (min-width: 790px) {
    /*HEADINGS*/
    footer h1 {
        font-size: 2.3em;
    }

    /*MAIN CONTENT*/
    #dining_extras {
        pading: 10% 0;
    }

    #dining_extras::after, .menu_items::after, #hotel_info_about::after {
        content: "";
        display: block;
        clear: both;
    }

    #dining_extras div {
        width: calc(100% / 3);
        float: left;
        padding: 8% 5%;
        margin: 10% 0;
        border: 10px #28282a solid;
        box-sizing: border-box;
    }

    /*SLIDESHOWS*/
    .cycle-overlay { 
        width: 88%;
    }

    /*FOOTER*/
    #contact {
        width: 80%;
        max-width: 1000px;
        margin: auto;
    }

}/*END 790px MEDIA QUERY*/


/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 1166px) {
    /*SLIDESHOWS*/
    .cycle-overlay { 
        width: 91%;
    }

}/*END 1166px MEDIA QUERY*/
