* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "berlin";
    src: url(../fonts/BRLNSR.TTF)format("truetype");
}

@font-face {
    font-family: "dumbledore";
    src: url(../fonts/dum3thin.ttf)format("truetype");
}

body {
    background: url(../img/chalkboardbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
}


/*HEADINGS*/
h1 {
    font-family: Dumbledore;
    font-size: 2.8em;
    padding-bottom: 5%;
    color: #bc8d49;
    letter-spacing: .07em;
}

h2 {
    font-family: Berlin;
    letter-spacing: .07em;
    font-size: 1.5em;
    padding-bottom: 5%;
}

.menu_items h2 {
    padding-bottom: 1%;
}

footer h1 {
    font-size: 2.3em;
}


/* LINKS 

#container a:link {
    text-decoration: none;
    color: #8a3121;
}

#container a:hover {
    text-decoration: underline;
}

#container a:active, #container a:visited {
    text-decoration: underline;
    color: #bc8d49;
}*/


/*NAVIGATION*/
nav {
    font-family: Dumbledore;
    letter-spacing: .07em;
}


/* HEADER & LOGO */
header {
    width: 100%;
    clear: both;
    padding: 20% 0;
    text-align: center;
}

header img {
    width: 100%;
    max-width: 600px;
    margin: auto;
}


/* MAIN CONTENT */
#container {
    width: 100%;
    margin: auto;
}

main {
    width: 100%;
    pading: 10% 0;
    margin: 10% 0;
    background-color: #28282a;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

main div {
    width: calc(100% / 3);
    float: left;
    background-color: transparent;
    padding: 8% 5%;
    margin: 10% 0;
    border: 10px #28282a solid;
    box-sizing: border-box;
    color: #fff;
}

.price {
    font-style: italic;
    text-align: right;
}

.disclaimer {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    padding-top: 8%;
}

.menu_items {
    width: 100%;
    margin: 10% auto;
    background-color: #28282a;
    padding: 10%;
    box-sizing: border-box;
    color: #fff;
}

.menu_items ul {
    list-style: none;
}

/*SLIDESHOWS*/
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 90%;
    z-index: 600;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}

.cycle-slideshow {
    width: 35%;
    float: left;
    margin-right: 5%;
    }

.cycle-slideshow img {
    width: 100%;
    height: auto;
}

/* FOOTER */

footer {
    width: 100%;
    margin: auto;
    background-color: #000;
    color: #bc8d49;
/*    clear: both;
    padding: 20px 0;*/
}

#contact {
    width: 100%;
    pading: 10% 0;
    margin: 10% 0;
}

#contact div {
    width: calc(100% / 3);
    float: left;
    padding: 2%;
    margin: 5% 0 1%;
    box-sizing: border-box;
}

#social {
    text-align: center;
}

#social img {
    margin: 1% 5% 0;
}

#social a:link {
    text-decoration: none;
    color: #000;
}

#footernav {
    clear: both;
    width: 100%;
    padding: 10px 0;
    font-family: Dumbledore;
    font-size: 1.5em;
    letter-spacing: .07em;
    text-align: center;
}

#footernav a:link, #footernav a:visited {
    text-decoration: none;
    color: #bc8d49;
    padding: .5%;
}

#footernav a:hover {
    text-decoration: underline;
    color: #bc8d49;
}

#footernav p {
    padding: .5%;
}


/*~~~~~~NEW MEDIA QUERY~~~~~~~
@media screen and (min-width: 680px) {
/*HEADINGS
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 18px;
    }


/*NAVIGATION
    nav {
        font-size: 20px;
    }


/* TYPE */


/* FOOTER 
    footer {
        padding: 40px 0;
        font-size: medium;
    }

}/*END 680px MEDIA QUERY*/



/*~~~~~~NEW SECTION~~~~~~~
@media screen and (min-width: 1132px) {
/*HEADINGS
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 20px;
    }


/* FOOTER 
    footer {
        padding: 50px 0;
    }

}/*END 1132px MEDIA QUERY*/